@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;1,300&display=swap');

    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */

    .input_primary_container{
    text-align: center; 
    align-items: center;
    display: flex;
    justify-content: center;
    width: 82%;
    margin-left: 12%;
    margin-top: 2%;
    margin-bottom: 5%;
  }

  .primary_unit_button{
    border: none;
    width: 14%;
    padding: 1%;
    margin: 0.5rem 0.2rem;
    border-radius: 5%;
}

.input_primary_BackButton{
  border-radius: 3%; 
  width: 18%;
  padding: 0.8rem;
  margin: 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  border: none;
}
.greenColor{
  background: green;
  color: white
}

@media screen and (max-width: 1024px){
  .input_primary_container{
      width: 92%; 
      margin-left: 2%;
      padding: 0.5rem 0rem 0.5rem 1rem;
    }
  
  .primary_unit_button{
    width: 19%;
    padding: 2%;
    margin: 0.5rem 0.2rem;
}
.input_primary_BackButton{
  width: 22%;
}

}
@media screen and (max-width: 620px){
  .input_primary_container{
    margin-left: 0%;
  }
  .input_primary_BackButton{
    width: 30%;
  }
  }
