
.select-job{
    display: grid;
    place-content: center;
    place-items: center;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(0.6, 0.6, 0.6, 0.6);
    z-index: 20;
}

.select-job div{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    /* background-color: white; */
}

.select-job button{
    flex: 1 1 90%;
    padding: 0.5rem;
}