.additive-container{
    background: rgba(0, 0, 0, 0.425);
    display: flex;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
    position: relative;
    width: 30%;
    min-height: 100vh;
    /* padding-bottom: 2rem; */
    padding-top: 7rem;
}

.additive-container >div{
    background: rgb(54, 54, 114);
    padding: 1rem 0.03rem;
    width:29%;
    border-radius: 0.3rem;
    height: fit-content;
}

.additive-check{
    color:white;
}

.additive-clear{
    border: none;
    padding: 0.5rem 1rem;
    width: 50%;
    font-weight:600 ;
    border-radius: 0.3rem;
}


 @media screen and (max-width: 1024px){
    .additive-container{
        padding-top: 10rem;
        width: auto;
    }
    .additive-container >div{
        width:90%;
        position: fixed;
        top: 10rem;
    }
}
