.main_container{
    background-color: whiteSmoke;
    padding: 2rem 2rem 0rem 2rem;
    color: black;
    box-shadow: 0rem 0.1rem 0.5rem 0rem gray;
    border-radius: 0.6rem;
    margin: 2% 30%;
    height: 90%;
}
.label_select{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0rem 29rem 0rem 0rem;
}
.select{
    width:40%;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    text-align:center;
    box-shadow: 0rem 0.1rem 0.5rem 0rem gray;
}
.h1_data{
    color: blue;
}
.textField_toggle{
}
/* Result */
.text{
    margin: 2rem 0rem 0rem 0rem;
    font-size: 1.4rem;
    font-weight: 550;
    color:green;
}
.button_container{
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
.button_clear{
    width: 30%;
    padding: 0.6rem 2rem;
    border: 1px solid transparent;
    color: white;
    background: darkred;
    border-radius: 0.2rem;
    font-size: 1rem;
}

.button_back{
    width: 30%;
    padding: 0.6rem 2rem;
    border: 1px solid transparent;
    color: white;
    background: blue;
    border-radius: 0.2rem;
    font-size: 1.2rem;

}






::-webkit-scrollbar{display: none}
/* ---------MEDIA QUERY 1280PX--------- */
@media screen and (max-width: 1024px){
    .main_container{
        margin: 2% 10%;
        height: 100%;
    }
    .label_select{
        margin: 0rem 35rem 0rem 0rem;
    }
    .select{
        width: 80%;
    }
    .button_container{
        margin-top: 3rem;
    }
    .button_clear{
        width: 40%;
    }
    .button_back{
        width: 40%;   
    }  
}

@media screen and (max-width: 620px) {
    .main_container{
        margin: 2% 5%;
        height: 80%;
    }
    .h1_data{
        display: none;
    }    
    .label_select{
        margin: 0rem 19rem 0rem 0rem;
    }
    .select{
        width:90%;
    }
    .button_container{
        margin-top: 3rem;
    }
    .button_clear{
        width: 40%;
    }
    .button_back{
        width: 40%;   
    }  
}

@media screen and (max-width: 390px) {
    .main_container{
        margin: 2% 2%;
        height: 80%;
    }
    .h1_data{
        display: none;
    }    
    .label_select{
        margin: 0rem 17rem 0rem 0rem;
    }
    .select{
        width:95%;
        height: 3rem;
    }
    .button_clear{
        width: 40%;
    }
    .button_back{
        width: 40%;   
    }  
}

@media screen and (max-width: 290px) {
    .main_container{
        margin: 2% 2%;
        height: 90%;
    }
    .h1_data{
        display: none;
    }    
    .label_select{
        margin: 0rem 12rem 0rem 0rem;
    }
    .select{
        width:95%;
        height: 3rem;
    }
    .button_clear{
        width: 50%;
    }
    .button_back{
        width: 50%;   
    }  
}

