
.header{
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    display : flex;
    justify-content:space-between;
    align-items: center;
    background: rgb(9, 9, 62);
    color: white;
    padding: 0.1rem 0.3rem;
    width: auto;
    z-index: 30;
}
.header > .title{
    /* padding-right: 3.5rem; */
    font-size: 35px;
    font-weight: 450;
    @media screen and (max-width: 720px) {
        font-size: 30px;   
    }
}

