.plug_input_container{
    text-align: center; 
    justify-content: center;
    width: 70%;
    margin-left: 10%;
    margin-top: 2%;
}
.drillpipe_data_container{
        border: 1px solid gray;
        width: 80%; 
        margin-top: 0.2rem; 
        margin-bottom: 0.2rem;
        height: 3rem;
}
.plug_unit_button{
    border: none;
    width: 15%;
    padding: 1%;
    margin: 0.5rem 0.2rem;
    border-radius: 5%;
}
.plug_button{
    color: black;
    border-radius: 50%;
    border: 1px solid gray;
    padding: 0.5rem;
    margin: 0rem 0rem 0rem 2rem;
    height: 10%;

}
.drillpipe_data{
  font-size: 1.3rem;
  width: 120%;
  padding: 0.5rem;
  background-color: inherit;  
  border: none;
  margin-top: -0.8rem;
}

.submitButton{
    background-color: green;
    color: white;
    width: 12rem;
    padding: 0.7rem;
    margin-top: 0.7rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    border-color: transparent;
}
.inputPlugContainer{
    display: flex;
    gap: 1rem;

}






/* ----------MEDIA 620PX--------- */
@media screen and (max-width: 1024px){
    .plug_input_container{
        width: 90%;
        margin-left: 0rem; 
       }
    
    
.drillpipe_data_container{
        width: 98%; 
        height: 3rem;
        margin-top: 0.5rem; 
}
.plug_unit_button{
    width: 30%;
    padding: 2%;
    margin: 0.8rem 0.3rem;
}
}
