
.plug-sub{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .plug-map{
    display: flex;
    border: 0.5px solid gray; 
    padding: 0.5rem;
    border-radius: 0.2rem;
    justify-content: space-between;
    align-items: center;
  }
  
  .plug-input{
      border: 1px solid lightgray;
      width: 20%;
      padding: 0.5rem 0 0.5rem 1rem ;
  }
  
  @media screen and (max-width: 1024px) {
      .plug-sub{
          grid-template-columns: repeat(1, 1fr);
        }
        
  }