
.landing-cont{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @keyframes myAnimation {
        0% {font-size: 35px; color: blue;}
        100% {font-size: 40px; color: blue}
    }
    .wrapper{
        color : blue;
        font-size: 40px;
        font-weight: 500;
        animation-name: myAnimation ;
        animation-duration: 7s ;
        animation-timing-function: ease-in-out ;
        animation-iteration-count: 1;
        animation-direction: normal;
    }
      .wrapper  div{
            flex: 1 1 0%;
        }
    }
    
// }
@media screen and (max-width: 720px) {
    .landing-cont{
        display: flex;
        flex-wrap: nowrap;          
            @keyframes myAnimation {
                0% {font-size: 22px; color: blue;}
                100% {font-size: 25px; color: blue}
            }
            .wrapper{
                color : blue;
                font-size: 25px;
                font-weight: 500;
                animation-name: myAnimation ;
                animation-duration: 7s ;
                animation-timing-function: ease-in-out ;
                animation-iteration-count: 1;
                animation-direction: normal;
            }
        
          .wrapper  div{
                flex: 1 1 0%;
            }
        
    }
    
    
}