
.landing-cont{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .wrapper{
        color : blue;
        font-size: 40px;
        font-weight: 500;
      .wrapper  div{
            flex: 1 1 0%;
        }
    }
    
}
@media screen and (max-width: 720px) {
    .landing-cont{
        display: flex;
        flex-wrap: nowrap;
        .wrapper{
            font-size: 25px;
            font-weight: 500;
          .wrapper  div{
                flex: 1 1 0%;
            }
        }
        
    }
    
    
}